.sign-in-container {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    width: 60vw;
    max-width: 600px;

    border-radius: 20px;
    box-shadow: 3px 3px 5px var(--darkMainColor);
}

#login-pill,
#register-pill {
    color: var(--darkMainColor);
    font-weight: bold;
}

#login-pill:hover,
#register-pill:hover {
    scale: 1.1;
    transition: all ease 0.5s;
}

#email,
#password,
#register-email,
#register-password,
#name,
#username {
    color: var(--darkMainColor);
}

#email:focus,
#password:focus,
#register-email:focus,
#register-password:focus,
#name:focus,
#username:focus {
    background-color: var(--transparentMainColor);
}

.error {
    font-size: 13px;
    color: red;
}

#terms-container {
    width: 100%;
    margin: 0;
    margin-left: 2rem;
    padding-top: 40px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}


#register-flexCheckDefault1,
register-flexCheckDefault2 {
    width: 17px;
    height: 17px;
    font-size: .12px;
    box-shadow: none;
}

@media only screen and (max-width: 890px) {
    #terms-container {
        font-size: 7px;
        padding-top: 0px;
    }

    #register-flexCheckDefault {
        width: 10px;
        height: 10px;
        ;
        box-shadow: none;
    }
}

#success-message {
    background-color: var(--darkMainColor);
    color: var(--secondaryColor);

    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--darkMainColor);
}

.sign-in-btn {
    background-color: var(--transparentMainColor);
    color: var(--mainColor);
    font-weight: bold;

    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--darkMainColor);
}

.sign-in-btn:hover {
    background-color: var(--darkMainColor);
    color: var(--secondaryColor);

    border-radius: 15px;
    transition: all ease 0.5s;
}

.sign-in-btn-container {
    display: grid;
    grid-template-columns: 1fr 110px 1fr;
}