.sidebar {
    margin: 10px;
}

.messaging-nav {
    border: 2px solid red;

    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.exit-profile-messaging-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 5px;
}

.search {
    border: 2px solid black;

    height: 90%;
    padding: 5px;
}

#search-input {
    border: none;
    background-color: none;
}

#search-input:active {
    border: 1px solid yellow !important
}