/* ******* Index Page - contains user profile cards and preferences list ******** */
/*Includes 2 columns, left col for user grid, rtght col for user preferences list*/

.Index {
  display: flex;
  flex-direction: column;

  padding: 30px 20px 0px 0px !important
}

.usersAndPreferencesContainer {
  display: flex;
  flex-direction: row;
}

/* ***************** User Grid  ************** */
/*Left Column*/

.users {
  grid-column: 1;
  display: grid;
  grid-template-columns: .7fr .7fr .7fr .7fr;
  grid-template-rows: 1fr 1fr;
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 1410px) {
  .users {
    grid-column: 1;
    display: grid;
    grid-template-columns: .7fr .7fr .7fr;
    height: 80%;
    width: 80%;
  }
}

/******** User Preferences List ********/
/* Right Column */

.userPref-filterBox {
  grid-column: 2;
  display: grid;
  background-color: rgba(101, 173, 53, 0.118);
  width: 400px;
  height: 500px;
  margin: 0 auto 0 auto;
  border: 2px solid black;
}


/* Preference Grid */

.userPrefs-form .favsIndex {
  grid-template-rows: .2fr .2fr .2fr;
  /* grid-template-columns: 1fr 1fr; */
  row-gap: 1px;
}


/* Preferences */

.userPrefsHdg {
  grid-row: 1;
}

.userPref-gender-label {
  grid-row: 2;
  text-align: left;
}

.userPref-gender {
  grid-column-start: 2;
  grid-row: 2;
  margin-left: 1em;
  height: 2em;
}

.high_income_preference-label {
  grid-row: 3;
  text-align: left;
}

.high_income_preference {
  grid-row: 3;
  margin-left: 1em;
  height: 2em;
}

.good_credit_preference-label {
  grid-row: 4;
  text-align: left;
  margin-left: 1em;
}

.good_credit_preference {
  grid-column-start: 2;
  grid-row: 4;
  margin-left: 2em;
  height: 1em;
}

/* MEDIA QUERIES - to be completed*/
/* USE FOR MEDIA QUERY - SMALLER */

/* @media only screen and (max-width: 1825px) {
  .users {
    grid-column: 1;
    display: grid;
    grid-template-columns: .7fr .7fr .7fr;
    height: 80%;
    width: 80%;
    grid-gap: 15px;
    row-gap: 30px;
  }
} */

/* @media only screen and (max-width: 1550px) {
  .users {
    grid-column: 1;
    display: grid;
    grid-template-columns: .7fr .7fr;
    height: 80%;
    width: 80%;
    grid-gap: 15px;
    row-gap: 30px;
    min-width: 600px;
  }
} */