@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');


* {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
}

/* .main{
  background-image: url("../Images/beautiful-spaciuos-livingroom.png");
  height: 100%;
  width:100%;
} */

.check {
  height: 55px;
}

.check:hover {
  box-shadow: 0px 0px 2px rgb(200, 200, 200);
  background-color: var(--transparentMainColor);

}

.background-light-purple:focus {
  background-color: var(--transparentMainColor);
}

.newFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}

select {
  text-align: center;
}

strong {
  font-size: 110%;
}

.user-bio-pic-container {
  width: 40rem;
  height: 14.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 140px;
}

@media only screen and (max-width: 890px) {
  .user-bio-pic-container {
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;

    scale: 80%;
    width: 36rem;

    margin: 0;
  }
}

.newform-header {
  font-weight: 900;
}

/* div.card-body.newform-cardbody{
  height: 30rem;
} */
div.newForm-componentsBox.row {
  padding-left: 7.5rem;
}

.newForm-componentsBox {
  display: flex;
  /* justify-content: space-evenly; */
}

.newForm-hdg {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-content: center;
  margin-right: 4rem;
}

.newForm-cardbody {
  margin-bottom: -2.2rem !important;
  padding: 50px;
}

.bioBottomRow {
  height: 35px;
  justify-content: center;
}

.userBio-component {
  grid-row: 3;
}

.newForm-component {
  grid-row: 3;
}

/* New Form Card */
.card {
  display: flex;
  width: 30rem;
  height: 50%;
}

.newForm {
  width: 37.5rem;
  margin-right: 30px;
  height: 40rem;
}

.preferenceIndex {
  /* width: 37.5rem; */
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prefIndexForm {
  display: flex;
  align-items: flex-start;
}

label.form-check-label {
  color: #787878;
}

/* .nf-column-1{
  grid-column: 1;
}

.nf-column-2{
  grid-column: 2;
}

.nf-column-3{
  grid-column: 3;
} */

/* Style for Standard Select - Non MDB Select Drop Down List */
/* USE FOR MEDIA QUERY - SMALLER */
.birthdate-MDB-input {
  border: 1px solid rgb(182, 181, 181);
  height: 2.5rem;
  /* width: 9rem; */
  width: 100%;
  border-radius: 1rem;
  color: rgb(114, 113, 113);
  padding-left: .4vw;
}

select,
select option {
  background-color: white;
}

select.gender-attribute {
  border: 1px solid rgb(182, 181, 181);
  height: 2.5rem;
  /* width: 4.5rem; */
  width: 100%;
  border-radius: 3px;
  color: rgb(114, 113, 113);
  padding-left: .4vw;
  margin-left: .38vw;
  background-color: white;
  background: white;
  color: #4f4f4f;
}

select.orientation-attribute {
  border: 1px solid rgb(182, 181, 181);
  /* height: 4.78vh; */
  /* width: 11.5vw; */
  /* width: 100%; */
  /* margin-left: 3vw; */
  border-radius: 3px;
  color: rgb(114, 113, 113);
  padding-left: .4vw;
  height: 2.5rem;
  width: 11.5rem;
  color: #4f4f4f;
}

.newForm-submitBtn,
.newPrefForm-submitBtn {
  width: 11.5rem;
}

.userBio-submitBtn {
  height: 2rem;
  width: 11rem;
  margin-bottom: 6rem;
  justify-content: center;
}

#temp-profile-image {
  width: 6rem;
  height: 6rem;
  background-image: url("../Images/unisex-profile-pic.png");
  background-size: cover;
  margin: auto;

  /* margin-bottom:1rem; */
}

#uploadWidget-Btn {
  width: 3rem;
  height: 2rem;
  margin-top: 20px;
  /* margin-top: 2.15rem; */
}


/* MEDIA QUERIES - to be completed*/

/* USE FOR MEDIA QUERY - SMALLER */

/* 
.birthdate-MDB-input{
  border: 1px solid rgb(182, 181, 181);
  height: 4.78vh;
  width: 13.5vw;
  border-radius: 3px;
  color:rgb(114, 113, 113) ;
  padding-left: .4vw;
}


.gender-select{
  border: 1px solid rgb(182, 181, 181);
  height: 4.78vh;
  width: 13.5vw;
  border-radius: 3px;
  color:rgb(114, 113, 113) ;
  padding-left: .4vw;
}

.orientation-select{
  border: 1px solid rgb(182, 181, 181);
  height: 4.78vh;
  width: 13.5vw;
  border-radius: 3px;
  color:rgb(114, 113, 113) ;
  padding-left: .4vw;
}
 */