
.ShowOneUser {
        display: flex;
        justify-content: space-evenly;
}



/* .ShowOneUser{
width: 90%;
height: 100%;
border: 1px solid rgb(128, 77, 234, .5);
        /* color in logo */
/* display: grid;
border-radius: 5%;
margin-top: 5% ; */
/* } */

/* .ShowOneUser, span{
display: inline-block;
} */

.userParentCard {
        width: 90%;
        height: 100%;
        margin: 0 auto 0 auto;
        /* border: .1rem solid rgba(186, 183, 192, 0.288); */
        /* box-shadow: .06rem .06rem .06rem .06rem rgba(138, 162, 185, 0.136); */
        /* border-radius: 5% 5%; */
        background-color: white;
}

#showOneUserPhoto {
margin-top: 5%;
height: 35%;
width: 25%;
}

.userInfo {
display: grid;
grid-template-columns: 1fr, 1fr;
margin-left: auto;
margin-right: auto;
margin-top: 2%;
width: 55%;
 background-color: rgba(191, 174, 227, 0.582);
}

/* .userInfo h5 {
        text-align: center;
        text-decoration: underline;
} */

/* .basicInfo {

 text-align: justify;
} */


/* #basicInfoAttributes{
 display: flex;
flex-direction: row;
} */

/* #basicInfoGroup{
display: flex;
flex-direction: column;
width: 50%;
align-items: center;
text-align: left;
} */

/* .userLivingSituation {
width: 60%;
text-align: left;
align-items: center;
padding: 2%;
border: 2px solid black;
} */

/* #livingSituationAttributes{
display: flex;
flex-direction: row;
text-align: left;
} */

/* .livingSituationGroup{
        display: flex;
        flex-direction: column;
} */

.userFinances {
display: flex;
flex-direction: column;
width: 40%;
text-align: justify;
align-items: left;
padding: 2%;
border: 2px solid black;
}

/* .userFinances span{
        display: inline-block;
        width: 30%
}

.livingSituationAndFinancialInfo{
        display: flex;
        flex-direction: row;
} */

#backToUsersBtn {
margin: 2%;
border-radius: 10%;
}
