/* ***************** User Profile Card ************** */

/* User Picture */

#profileImage {
  /* height: 130px;
    width: 130px; */
  margin-top: 1vh;
  width: 70%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  border-radius: 5% 5%;
}

#profileImage:hover {
  filter: brightness(107%);
  background-color: rgba(4, 7, 20, 0.211);
  /* width: 75%;
    height: 75%; */
  border: .2rem solid var(--mainColor);
  /* --transparentMainColor: #cbb1ff26;; */
  transition: all 0.1s ease 0s;
}

.userCard:hover {
  filter: brightness(110%);
  background-color: #cbb1ff15;
  color: #3b236a;
  border-color: white;
  box-shadow: .06rem .06rem .06rem .06rem rgba(111, 131, 150, 0.498);
  /* animation-name: growPic;
    animation-duration: 1s; */
  transition: all 1s ease 0s;
}

/* .growPic {
    animation-name: growPic;
  } */

/* @keyframes growPic {
    from {
      width: 75%;
      height: 75%;
    }
  
    to {
      width: 85%;
      height: 85%;
    }
  } */

/* user pic and info container */

.userCard {
  width: 260px;
  height: 300px;
  margin: 0 auto 40px auto;
  padding-top: 30px;

  border: .1rem solid rgba(186, 183, 192, 0.288);
  box-shadow: 20px 20px 20px rgba(138, 162, 185, 0.136);
  border-radius: 5% 5%;
  background-color: white;
}

@media screen and (max-width: 1440px) {
  .userCard {
    width: 210px;
    height: 210px;
    margin: 0 auto 40px auto;
    padding-top: 10px;

  }

  #profileImage {
    /* height: 130px;
      width: 130px; */
    width: 45% !important;
    height: 45% !important;
    object-fit: cover;

    border-radius: 5% 5%;
  }
}

/* 
  .userCard {
    width: 100px;
    height: 100px;
    background: white;
    position: relative;
  }
  .userCard:before {
    content: "";
    width: 170px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid white;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
  }
  .userCard:after {
    content: "";
    width: 170px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid white;
    border-left: 29px solid #eee;
    border-right: 29px solid #eee;
  } */

/* ***************** User Information (at bottom of card) ************** */

.userCard-fname,
.userCard-info {
  font-size: 12pt;
  font-weight: bold;
  line-height: 2px;
}

.userCard-info {
  font-size: 10pt;
  text-align: left;
  font-style: italic;
  line-height: 2px;
}

.user-btns {
  display: flex;
  justify-content: center;

  margin: 60px;
  margin-top: 10px;
  margin-bottom: 40px;
}

#fav-btn {
  font-size: 90%;
  margin-right: 7px;
  padding: 5px !important;
}

#message-btn {
  margin-left: 7px;
  padding: 6px 5px 5px 5px !important;
}

#fav-btn:hover,
#message-btn:hover {
  transition: all ease 0.2s;
}



/* MEDIA QUERIES - to be completed*/

/* USE FOR MEDIA QUERY - SMALLER */