/* ***************** User Profile Card ************** */

/* User Picture */

#profileImage {
    /* height: 130px;
    width: 130px; */
    margin-top: 1vh;
    width: 70%;
    height: 70%;
    object-fit: cover;
    object-position: center;
  }
  
/* user pic and info container */

  .userCard {
    width: 170px;
    height: 195px;
    margin: 0 auto 0 auto;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px rgba(138, 162, 185, 0.67);
    ;
    background-color: rgba(213, 181, 243, 0.484);
  }
  

/* ***************** User Information (at bottom of card) ************** */

  .userCard-fname,
  .userCard-info {
    font-size: 12pt;
    font-weight: bold;
    line-height: 2px;
  }
  
  .userCard-info {
    font-size: 10pt;
    text-align: left;
    font-style: italic;
    line-height: 2px;
  }
  
  
  
  /* MEDIA QUERIES - to be completed*/
  
  /* USE FOR MEDIA QUERY - SMALLER */
  
  