@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');


* {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
}

body {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Home {
  width: 100vw;
  height: 90vh;
  background-image: url("./Images/kenny-eliason-Wp7t4cWN-68-unsplash.jpg");
  background-size: cover;
  font-family: 'Petit Formal Script', cursive;
}

.homeHdgBox {
  background-color: rgba(127, 255, 212, 0.444);
  color: blueviolet;
}

.homeImage1 {
  width: 350px;
  height: 325px;
  background-image: url("./Images/pexels-cottonbro-studio-4778404.jpg");
  background-size: cover;
  border: 4px solid chartreuse
}

.homeImage2 {
  margin-top: -89px;
  width: 325px;
  height: 325px;
  background-image: url("./Images/microsoft-365-epexwY0jH1M-unsplash.jpg");
  background-size: cover;
  background-size: cover;
  margin-left: 750px;
  border: 4px solid rgb(166, 19, 198);
}

.homeImage3 {
  margin-top: -60px;
  margin-left: 108px;
  width: 150px;
  height: 125px;
  background-image: url(".//Images/microsoft-365-epexwY0jH1M-unsplash.jpg");
  background-size: cover;
  border: 4px solid rgb(179, 0, 255)
}

.homeImage4 {
  margin-top: -590px;
  margin-left: 970px;
  width: 150px;
  height: 125px;
  background-image: url("./Images/pexels-liza-summer-6383207.jpg");
  background-size: cover;
  border: 4px solid chartreuse
}






code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ******* Index Page - contains user profile cards and preferences list ******** */
.Index{
  display:grid;
  grid-template-columns: 5fr 1fr;
}

/* ***************** User Profile Card ************** */

#profileImage {
  height: 130px;
  width: 130px;
  margin-top: 3vh;
  object-fit: cover;
}

.users {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 80vh;
  width: 70vw;
  grid-gap: 7px;
  row-gap: 7px;

}

.userCard {
  width: 170px;
  height: 195px;
  margin: 0 auto 0 auto;
  border: 2px solid black;
  box-shadow: 5px 5px 5px 5px rgba(138, 162, 185, 0.67);
  ;
  background-color: rgba(213, 181, 243, 0.484);
}

.userCard-fname,
.userCard-info {
  font-size: 12pt;
  font-weight: bold;
  line-height: 2px;
}

.userCard-info {
  font-size: 10pt;
  text-align: left;
  font-style: italic;
  line-height: 2px;
}


/******** User Preferences List ********/
.userPref-filterBox{
  grid-column: 2;
  display: grid;
  background-color: rgba(101, 173, 53, 0.118);
  width: 400px;
  height: 500px;
  margin: 0 auto 0 auto;
  border: 2px solid black;
}

.userPrefs-form{
  grid-template-rows: .2fr .2fr .2fr;
  /* grid-template-columns: 1fr 1fr; */
  row-gap: 1px;
}
.userPrefsHdg{
  grid-row: 1;
}

.userPref-gender-label{
  /* grid-column-start: 1;
  grid-column-end: 2; */
  grid-row: 2;
  text-align: left;
  /* margin-left: 2em; */
}
.userPref-gender{
  grid-column-start: 2;
  /* grid-column-end: 3;*/
  grid-row: 2; 
  margin-left: 1em;
  height: 2em;
  /* width: 12em; */
}

.high_income_preference-label{
  /* grid-column-start: 1;
  grid-column-end: 2; */
  grid-row: 3;
  text-align: left;
  /* margin-left: 2em; */
}
.high_income_preference{
  /* grid-column-start: 2;
  grid-column-end: 3; */
  grid-row: 3;
  margin-left: 1em;
  height: 2em;
  /* width: 12em; */
}
.good_credit_preference-label{
  /* grid-column-start: 1;
  grid-column-end: 2; */
  grid-row: 4;
  text-align: left;
  margin-left: 1em;
}
.good_credit_preference{
  grid-column-start: 2;
  /* grid-column-end: 3; */
  grid-row: 4;
  margin-left: 2em;
  height: 1em;
  /* width: 12em; */
}


