@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap'); */
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --mainColor: #52ff9a43;
  --transparentMainColor: #cbb1ff26;
  --darkMainColor: #2e008b;
  --secondaryColor: #66ff33;
  --darkSecondaryColor: #228700;
  --darkBackgroundColor: #12061e;
  --lightBackgroundColor: beige;

}

*,
h1,
/* h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
} */

body {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-image-grid {
  width: 100vw;
  height: 83vh;
  background-image: url("./Images/roommates-composite-with-veneers.png");
  background-size: cover;
  font-family: 'Petit Formal Script', cursive;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.bestMate-wordLink{
  /* font-style: italic; */
  font-weight:normal;
  font: 1em ;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.homeHdgBox {
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 232, 222, 0.287);
  color: blueviolet;
  letter-spacing: .25em;
}

.homeHdgBox h2 {
  /* color: var(--mainColor); */
  /* color:#450ee8 */
  color: navy;
}

.homeHdgBox a {
  /* color: white; */
  /* text-shadow: 0px 0px 5px var(--darkMainColor); */
  /* background-color: rgba(127, 255, 212, 0.444); */
  color: blueviolet;
  font-weight: 500;
}

.homeHdgBox a:hover {
  /* color: var(--secondaryColor); */
  /* text-shadow: 3px 3px 3px var(--darkMainColor); */
 color:#5ec088
}

.uploadWidget-Btn {
  border: 1px solid rgb(182, 181, 181);
  height: 4.78vh;
  width: 9.5vw;
  border-radius: 3px;
  color: rgb(114, 113, 113);
  padding-left: .4vw;
  margin-left: -.15vw;
  background-color: white;
  background: white;
}